<p>
	Dear <?php echo ($name) ?>,
	<br />
	Can I kick it received your free entry for the current sweeps stakes. Please keep this email for conformation and receipt of entry. You will be notified via email if you are selected for any prizes.
	<br />
	<br />
	Thanks,
	<br />
	The Can I kick it team
</p>