<p>
	Dear <?php echo ($user['username']) ?>,
	<br />
	<br />
	Can I kick it received a request to create a new account for your Can I kick it <?php echo ($user['username']) ?>.
	<br />
	<br />
	Here is your temporary password <?php echo ($user['password']) ?>. Please change this in the settings as soon as possible.
	<br />
	<br />
	Thanks,
	<br />
	The Can I kick it Team
</p>