<div style='background:#2F2F2F; color:#fff; padding:30px; height:100%;' >
	<img src='http://johnsonwebconsulting.com/xcitemedia/canikickit/img/logofull.png' style='width:100%; max-width:200px;'/><br/><br/>
	<?php echo $this->fetch('content'); ?>
</div>