.label-editor-row {
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.label-editor-row h3 {
	cursor: pointer;
	color: #000;
	font-size: 16px;
	background: #6c6c6c !important;
	background: -moz-linear-gradient(top,  #6c6c6c 0%, #4f4f4f 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(100%,#4f4f4f)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6c6c6c 0%,#4f4f4f 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6c6c6c 0%,#4f4f4f 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6c6c6c 0%,#4f4f4f 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #6c6c6c 0%,#4f4f4f 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#4f4f4f',GradientType=0 ) !important; /* IE6-9 */
	margin: 0px;
	padding: 10px !important;
	border-radius:5px;
	text-shadow:1px 0 #666;
}

.label-editor-row h3:hover {
	color: #f0ff2c;
}

.label-editor-row .inner-labels {
	display: none;
	padding: 20px;
}
.label-editor-row .inner-labels  label {
	font-size: 13px;
	color: #666;
}
