.featherlight {
	z-index: 2000000;
}
.mobile-device .featherlight-content h1 {
    max-width: 800px !important;
    min-width:100px !Important;
}
.featherlight .featherlight-close-icon{
	position: fixed !important;
	font-size:45px;
	line-height:50px;
	width:50px;
	background:#333;
	color:red;
}

.featherlight .featherlight-content {
	background: none repeat scroll 0 0 #111;
	box-shadow: 0 0 10px #000;
}
.featherlight:last-of-type {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
h1.featherlight-inner {
	color: #555;
	font-size: 28px !important;
	font-weight: normal !important;
	margin-bottom: -20px !important;
	text-align: center;
}
.featherlight .featherlight-content {
	min-width: 100px;
}
.featherlight .featherlight-content .pure-table td, .featherlight .featherlight-content  .pure-table th {
	font-size: 12px;
	border: none;
}
.featherlight h1 {
	font-size: 25px !important;
	color: #555 !important;
	border-bottom: 1px solid #555 !important;
	width:100%;
	text-align:center;
	margin-bottom:20px;
}
.featherlight-content h1 {
	min-width: 500px !important;
	max-width: 800px !important;
}

.featherlight .button-row {
	bottom: 0px;
	text-align: center;
	padding: 10px 20px;
}
