.pace-inactive .pace-progress-inner {
	display: none;
}

.pace-progress-inner {
	background-color: #666;
	background-image: url("../img/ajax-loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 15px;
	height: 100px;
	left: 50%;
	margin-left: -75px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 150px;
	z-index: 200000;
}
