.model-title {
	display: inline;
	float: left;
	padding-left: 10px;
	vertical-align: middle;
	color: #fff;
	font-size: 25px;
}
.second {
	background-color: #666 !important;
}
.grid-thumbnail {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: top center;
}
.highlight .grid-thumbnail {
	height: 125px !important;
	width: 200px !important;
}
.highlight, .highlight .text-left {
	font-size: 16px !important;
}
.delete-icon {
	background-color: red !important;
}
.table tr.actions td {
	text-align: center !important;
	background: #fff !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.table tr.highlight td {
	transition: none !important;
}
.table tr.highlight td {
	background: #111 !important;
	color: #fff !important;
}
.bootgrid-footer {
	background: transparent;
}
#login_username, .pure-form input[name="username"] {
	background-image: url(../img/text-icon-user.png) !important;
}
#login_password, .pure-form input[name="password"] {
	background-image: url(../img/password-text.png) !important;
}

.pure-form input[name="start_timestamp"] {
	background-image: url(../img/date-icon-text.png) !important;
}
#email, .pure-form input[name="email"] {
	background-image: url(../img/text-icon-email.png) !important;
}
select[name="ticket_price"] {
	background-image: url(../img/money-icon-text.png) !important;
}
.pure-form input[name="url"] {
	background-image: url(../img/web-icon-text.png) !important;
}

.pure-table th {
	white-space: nowrap;
}
.maintenance-grid .pure-button {
	font-size: 12px;
}

.pure-form textarea {
	background-image: none !important;
	background-position: left top !important;
	background-size: 40px 100% !important;
	border-color: -moz-use-text-color #f0ff2d;
	border-left: 3px solid #f0ff2d;
	border-style: none solid;
	border-width: medium 3px;
	height: 150px;
	text-indent: 0 !important;
	width: 400px;
}

.pure-table td, .pure-table th {
	padding: 3px 6px;
	font-weight: normal !important;
}
.pure-table td {
	font-size: 13px !important;
}

