<div id='dashboard-chart' style='height:550px;'></div>
<div style='padding:10px;text-align:center;'>
	<img src='<%=BASE_FULL_URL + "img/kiki-king-logo.png" %>' style='vertical-align:middle;' /><span style='color:#2FB9E3;'>KICK IT CONTRIBUTOR</span>&nbsp;&nbsp;&nbsp;
	<img src='<%=BASE_FULL_URL + "img/king-white.png" %>' style='vertical-align:middle;' />LOCAL ESTIBLISHMENT
</div>