<div style='text-align:center;'>
	<table class='dashboard-table' style='display:inline;'>
		<tr>
			<td style='width:200px;vertical-align:top;padding-top:50px;'>
				<div class='qrcode' style='position:absolute;left:-5000px;'></div>
				<div style='background:url("<%=BASE_FULL_URL %>img/ciki-logo-icon-xl.png");background-repeat:no-repeat;background-size:100% auto; width:170px; height:260px;'></div>
			</td>
			<td style='vertical-align:top;padding-top:80px;text-align:left;'>
				<h1 style='color:#666;'>Welcome to Can I Kick it</h1>
				<div>LOGGED IN AS: <%=user.User.username %></div>
				<div>WEBSITE CODE: <span class='submission_code' ></span></div>
				<hr/>
				<a class="action-button pure-button pure-button-primary " style='font-size:16px;'  data-action-type='view-consumers' href="javascript:void(0);">VIEW CONSUMERS</a>
				<a class="action-button pure-button pure-button-primary" data-action-type='qr-code' style='font-size:16px;' data-type="qr-code" href="javascript:void(0);">SHARE QR CODE</a>
				<a class="action-button pure-button pure-button-primary " data-action-type='app-labels' style='font-size:16px;' href="javascript:void(0);">MANAGE APP LABELS</a>
			</td>
		</tr>
	</table>
</div>