<div id='header'>
<a href="javascript:void(0);" class="menu-btn"><img src='../img/menu_icon.png' style='position: absolute; left: 25px; cursor: pointer; border-radius: 0px 0px 5px 5px; height: 25px ! important; margin-top: -5px;' /></a>
<a href='javascript:void(0);' data-type='logout' class='action-button pure-button pure-button-primary' style='margin-right: 30px; float: right; background: #666; text-shadow: none ! important; font-size:12px;' >SIGN OUT</a>
</div>
<br/><br/>
<div class='vartical-tabs'>
<div class="content">
<div class="left_lane float">
<div class="tab" data-id="dashboard" id="t1" title="Can I Kick It dashboard.">Dashboard</div>
<div class="tab" data-id="users" id="t2" title="All of the users in the Can I Kick It system.">All Users</div>
<div class="tab" data-id="consumers" id="t3" title="Consumers in the Can I Kick It system.">CIKI Users</div>
<div class="tab" data-id="contributors" id="t4" title="All of the contributors in the Can I Kick It system.">CIKI Restaurant / Bars</div>
<div class="tab" data-id="advertisments" id="t5" title="Manage all the banners in the Can I Kick It application."  >Advertisers</div>
<div class="tab" data-id="trips" id="t6" title="Manage all the trips in the Can I Kick It application."  >Sweepstake Prizes</div>
<div class="tab" data-id="sweepstakes" id="t7" title="Manage weekly prizes in the Can I Kick It application."  >Weekly Prizes</div>
<div class="tab" data-id="purchased_specials" id="t8" title="Manage purchased in the Can I Kick It application."  >Purchased Specials</div>
<div class="tab" data-id="tips" id="t9" title="Manage app tips." >App Tips</div>
<div class="tab" data-id="avatars" id="t10" title="Manage app default avatars." >Avatars</div>
<div class="tab" data-id="faqs" id="t11" title="Manage frequently asked questions." >FAQ's</div>
<div class="tab" data-id="system_variables" id="t12"  title="Manage system configuration" >Configuration</div>
<div class="tab" data-id="labels" id="t13"  title="Manage app labels" >Menu Labels</div>
</div>
<div class="right float">
<div class="cnt" id="c1">
	<div style='text-align:center;'>
		<div class='dashboard-fullsize' style='display:none;'>
		<table class='dashboard-table' style='display:inline;'>
			<tr>
				<td style='width:200px;vertical-align:top;padding-top:50px;'>
					<div class='qrcode' style='position:absolute;left:-5000px;'></div>
					<div style='background:url("<%=BASE_FULL_URL %>img/ciki-logo-icon-xl.png");background-repeat:no-repeat;background-size:100% auto; width:170px; height:260px;'></div>
				</td>
				<td style='vertical-align:top;padding-top:80px;text-align:left;'>
					<h1 style='color:#666;'>Welcome to Can I Kick it</h1>
					<div>LOGGED IN AS: <%=user.User.username %></div>
					<div>WEBSITE CODE: <span class='submission_code' ></span></div>
					<hr/>
					<a class="action-button pure-button pure-button-primary " style='font-size:16px;'  data-action-type='view-consumers' href="javascript:void(0);">VIEW CONSUMERS</a>
					<a class="action-button pure-button pure-button-primary" data-action-type='qr-code' style='font-size:16px;' data-type="qr-code" href="javascript:void(0);">SHARE QR CODE</a>
					<a class="action-button pure-button pure-button-primary " data-action-type='app-labels' style='font-size:16px;' href="javascript:void(0);">MANAGE APP LABELS</a>
				</td>
			</tr>
			
		</table>
		</div>
		<div class='dashboard-mobile' style='display:none;text-align:center;padding:20px;'>
			<div style='display:inline-block;background:url("<%=BASE_FULL_URL %>img/ciki-logo-icon-xl.png");background-repeat:no-repeat;background-size:100% auto; width:55px; height:100px;'></div><br/>
			<h1 style='color:#666;font-size: 16px; white-space: normal;'>Can I Kick it</h1>
			<div>LOGGED IN AS: <%=user.User.username %></div>
			<div>WEBSITE CODE: <span class='submission_code' ></span></div>
			<hr/>
			<a class="action-button pure-button pure-button-primary " style='font-size: 13px; margin-bottom: 5px; width: 100%;'  data-action-type='view-consumers' href="javascript:void(0);">VIEW CONSUMERS</a><br/>
			<a class="action-button pure-button pure-button-primary" data-action-type='qr-code' style='font-size: 13px; margin-bottom: 5px; width: 100%;' data-type="qr-code" href="javascript:void(0);">SHARE QR CODE</a><br/>
			<a class="action-button pure-button pure-button-primary " data-action-type='app-labels' style='font-size: 13px; margin-bottom: 5px; width: 100%;' href="javascript:void(0);">MANAGE APP LABELS</a>
		</div>
	</div>
</div>
<div class="cnt" id="c2">
	<div class="maintence-grid" data-model="users" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c3">
	<div class="maintence-grid" data-model="consumers" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c4">
	<div class="maintence-grid" data-model="contributors" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c5">
	<div class="maintence-grid" data-model="advertisments" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c6">
	<div class="maintence-grid" data-model="trips" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c7">
	<div class="maintence-grid" data-model="sweepstakes" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c8">
	<div class="maintence-grid" data-model="purchased_specials" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c9">
	<div class="maintence-grid" data-model="tips" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c10">
	<div class="maintence-grid" data-model="avatars" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c11">
	<div class="maintence-grid" data-model="faqs" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c12">
	<div class="maintence-grid" data-model="system_variables" data-id="" ><br/><br/></div>
</div>
<div class="cnt" id="c13">
	<div style='padding:20px;'>
	<div class="model-title">APP LABELS</div>
	<br/><br/>
	<form data-model="labels" class='pure-form' data-id="" ></form>
	</div>
</div>
</div>
</div>
<br class="clear">
</div>
<div id='footer'></div>
