<tr data-id='<%=this.Advertisment.id %>'>
<% for(var i in this.Advertisment){
	if(['active', 'featured_image', 'name', 'url', 'filename', 'location'].indexOf(i) != -1){%>
		<td>
			<%if('featured_image' == i){%>	
				<%if(this.Advertisment.featured_image){%>
					<div style="background-image:url('<%=this.Advertisment.featured_image %>');" class="grid-thumbnail"  ></div>
				<%}%>
			<%}else if('url' == i){%>
				<a href='<%=this.Advertisment[i] %>' title='Launch this url in new window' target='_blank' ><%=this.Advertisment[i] %></a>
			<%}else if('active' == i){%>
				<img src='<%=BASE_FULL_URL %>img/<%=this.Advertisment.active != 1 ? 'blank' : 'check-mark-11-512' %>.png' style="height:30px;" />
			<%}else{%>
				<%=this.Advertisment[i] %>
			<%}%>
		</td>
	<%}
}%>
</tr>