<li id="list_<%=index %>" data-id="<%=id %>" class='mjs-nestedSortable-collapsed' ><div><span class="disclose"><span></span></span>
<table style='width: 95%; display: inline-block; vertical-align: middle;'>
<tr>
<td style='text-align:left;width:205px;'>
<b><%=name %></b>
</td>
<td style='text-align:right;'>
<a href="javascript:void(0);" class="edit-action-button pure-button button-small pure-button-primary" data-id="<%=id %>" data-type='categories' >EDIT</a>
<a href="javascript:void(0);" class="delete-action-button pure-button button-small" data-id="<%=id %>" data-type='categories'  >DELETE</a>
</td>
</tr>
</table>
</div>