<tr data-id='<%=this.User.id %>'>
<% for(var i in this.User){
	if(['active', 'type', 'username', 'social_login_type'].indexOf(i) != -1){%>
		<td>
			<%if('active' == i){%>
				<img src='<%=BASE_FULL_URL %>img/<%=this.User.active != 1 ? 'blank' : 'check-mark-11-512' %>.png' style="height:20px;" />
			<%}else if('type' == i){%>
				<%=this.User[i] %>
			<%}else{%>
				<%=this.User[i] %>
			<%}%>
		</td>
	<%}
}%>
</tr>