<a data-type="update" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">EDIT/VIEW</a>
<a data-type="clone" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);">CLONE</a>
<% if(model['User']['phone'] && model['User']['phone_carrier_service']) {%>
	<a data-type="text" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);">SEND TEXT MESSAGE</a>
<% }	%>
<% if(model['User']['email']) {%>
	<a data-type="email" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);">SEND EMAIL</a>
<% }	%>
	<a data-type="delete" data-id='<%=id %>' class="pure-button button-secondary action-button button-small delete-icon" href="javascript:void(0);">DELETE</a>
<% if(model['User']['type'] == 'contributor') {%>
	<a data-type="menu-upload" data-id='<%=id %>' class="pure-button button-secondary action-button button-small -icon second" href="javascript:void(0);" >UPLOAD MENU</a>
	<a data-type="qrcode" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);" >QR CODE</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<input type='checkbox' id='validate_location_checkbox' checked="checked"/><label for='validate_location_checkbox'  style='font-weight:normal !important; color:#f0ff2c;'>VALIDATE LOCATION</label>
	<br/><br/><hr/><br/>
	<div style='width:90%; margin:auto;'>
		<h3 style='color:#f0ff2c; float:left;'>SPECIALS</h3>
		<a data-type="create-new-special" data-id='<%=id %>' class="pure-button button-secondary action-button button-small -icon" href="javascript:void(0);" style='float:right;' >ADD SPECIAL</a>
		
		<div class='specials-container' data-id="" data-model="specials"></div>
	</div>
<% }	%>
