<img src="<%=BASE_FULL_URL + '/img/logofull.png' %>" style='width:150px;'/><br/>
<h2 style='font-size:20px;'>RESET PASSWORD</h2><form onsubmit='return false;' class='pure-form' >
<input type='text' id='email' placeholder='email' style='text-align:center;' /><br/>
<div style='text-align:center;'>
<a href='javascript:void(0);' class='reset-password-button pure-button pure-button-primary' >RESET</a><br/><br/>
<a href='javascript:void(0);' class='forgot-password-close' >Go back to login</a>
</div></form>
