<div class='form-field'>
	<select name='<%=FormField.name %>' data-name='<%=FormField.dataName %>' class='ajax-select' id='form_field_<%=FormField.id %>' placeholder='<%=FormField.placeholder %>' value='<%=FormField.default_value %>' >
	</select>
</div>