<li id="list_<%=index %>" data-id="<%=id %>"><div>
<table style='width:100%;'>
<tr>
<td style='text-align:left;'>
<b><%=name %></b>
</td>
<td style='text-align:right;'>
<a href="javascript:void(0);" class="edit-action-button pure-button button-small pure-button-primary" data-id="<%=id %>" >EDIT</a>
<a href="javascript:void(0);" class="delete-action-button pure-button button-small" data-id="<%=id %>">DELETE</a>
</td>
</tr>
</table>
</div></li>