<div class='form-field'>
	<input type='checkbox' name='<%=FormField.name %>' id='form_field_<%=FormField.id %>' placeholder='<%=FormField.placeholder %>' checked='<%=FormField.default_value %>' />
</div>