<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="user_id" >Customer</th>
<th data-column-id="code">Code</th>
<th data-column-id="amount" >Balance</th>