<tr data-id='<%=this.Giftcard.id %>'>
<% for(var i in this.Giftcard){
	if(['id', 'user_id', 'code', 'amount'].indexOf(i) != -1){%>
		<td>
			<%if('user_id' == i){%>	
				<a href="javascript:$.formDialog(<%=this.Giftcard[i] %>, 'users', function(){});" >USER: <%=this.Giftcard[i] %></a>
			<%}else{%>
				<%=this.Giftcard[i] %>
			<%}%>
		</td>
	<%}
}%>
</tr>