<a data-type="update" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">DETAILS</a>	
<a data-type="delete" style="float:right; color:white !important;" data-id='<%=id %>' class="pure-button button-secondary action-button button-small delete-icon" href="javascript:void(0);">DELETE</a>
<a data-type="print_giftcard" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">PRINT GIFT CARD</a>