<div class='interactive-map'>
	<div class='interactive-map-row'>
		<div class='map-container'>
			<div class='map-border'>
				<div class='map'></div>
			</div>
		</div>
		<div class='map-menu-container'>
			<div class='map-menu-inner'>
				<div class='heading'>Click on you intrest below to see all of the locations Manitou Springs has to offer:</div>
				<div class='map-menu'></div>
			</div>
		</div>
	</div>
</div>