<div class="header"><%=name %></div>
	<div class="close-btn"></div>
	<div><b>Phone:</b> <%=phone %></div>
	<div><b>Address:</b> <%=address %></div><br/><br/>
	<div>
	<a href="https://www.google.com/maps/dir/<%=address %>" target="_blank">Get Directions</a> | 
	<a href="<%=url %>" target="_blank">View Website</a>
</div>