<div class='label-editor-row'>
	<h3><%=title %></h3>
	<div class='inner-labels'>
		<% for(var key in this.labels) { %>
			<div>
			<label><%=$.camelToSentace(key.replace("_", " ")).toUpperCase() %></label><br/>
			<textarea name='<%=key %>'><%=labels[key] %></textarea>
			</div>
			<br/>
		<% } %>
		<br/>
		<a href='javascript:void(0);' class='pure-button save' data-parent-key='<%=parentKey %>' >SAVE <%=title %> LABELS</a>
	</div>
</div>