
	<a data-type="update" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">EDIT/VIEW</a>
	<a data-type="delete" data-id='<%=id %>' class="pure-button button-secondary action-button button-small delete-icon" href="javascript:void(0);">DELETE</a>
	<a data-type="manage-rewards-challanges" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">REWARDS</a>
