<tr>
<% for(var i in this.Challange){
	if(['featured_image', 'title', 'terms'].indexOf(i) != -1){%>
		<th>
			<%=i.toUpperCase().replace('_', ' ') %>
		</th>
	<%}
}%>
</tr>
<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="featured_image" data-formatter='featured_image' >Featured Image</th>
<th data-column-id="title" >Title</th>
<th data-column-id="terms" >Terms</th>