<tr data-id='<%=this.Challange.id %>'>
<% for(var i in this.Challange){
	if(['featured_image', 'title', 'terms'].indexOf(i) != -1){%>
		<td>
			<%if('featured_image' == i){%>	
				<%if(this.Challange.featured_image){%>
					<div style="background-image:url('<%=this.Challange.featured_image %>');" class="grid-thumbnail"  ></div>
				<%}%>
			<%}else{%>
				<%=this.Challange[i] %>
			<%}%>
		</td>
	<%}
}%>
</tr>