<img src="<%=BASE_FULL_URL + '/img/ciki-logo-icon-name.png' %>" style='width:150px;'/><br/>
<form onsubmit='return false;' class='pure-form' ><input type='text' id='login_username' placeholder='username' style='text-align:center;'/><br/><br/>
<input type='password' id='login_password' placeholder='password' style='text-align:center;' /><br/><br/>
<div style='text-align:center;'>
<a href='javascript:void(0);' class='login-button pure-button pure-button-primary' >SUBMIT</a><br/><br/></div></form>
