<div style='padding:5px;'>
<table class="table table-striped table-condensed pure-table grid-data" data-selection="false" data-multi-select="false" data-row-select="false" data-keep-selection="false" style="width:100%; border:none; width:100%;">
    <thead><tr></tr></thead>
    <tbody></tbody>
</table>
</div>