<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="notification">Notification</th>
<th data-column-id="timestamp" >Timestamp</th>