<a data-type="clone" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);">CLONE</a>
	<a data-type="delete" data-id='<%=id %>' class="pure-button button-secondary action-button button-small delete-icon" href="javascript:void(0);">DELETE</a>
