<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="user_id" >USER</th>
<th data-column-id="sweepstake_id" >SWEEPSTAKE</th>
<th data-column-id="timestamp" >TIMESTAMP</th>