<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
    	<li><a class="export-btn" href="javascript:void(0);">EXPORT</a></li>
    	<li><a class="print-btn" href="javascript:void(0);">PRINT</a></li>
    </ul>
</div>