<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="user">USER</th>
<th data-column-id="contributor" >CONTRIBUTOR</th>
<th data-column-id="special" >SPECIAL</th>
<th data-column-id="timestamp" >Timestamp</th>