<form class='pure-form set-winner-form'>
	Winner:
	<select class='ajax-form select-winner-select' data-name='consumers' name='winnner_user_id' ></select>
	<br/>
	Photo of Trip:
	<input type='file' name='winner_featured_image'  />
	<br/>
	Caption:
	<textarea  name='winner_caption' ></textarea>
	<input type='hidden' name='winner_timestamp' value='<%=winner_timestamp %>'  />
	<input type='hidden' name='id' value='<%=dataId %>'  />
</form>
