&nbsp;&nbsp;
<input type="button" class="popup_print" value="&nbsp;PRINT&nbsp;">
&nbsp;&nbsp;
<input type="button" class="popup_email" value="&nbsp;EMAIL&nbsp;">
<br/>
<div class="pop_up_email_address" style='display:none;'>
	<form class='pure-form' onsumit='return false;' >
		<input type="text" class="pop_up_email_value" name="email" placeholder"EMAIL ADDRESS" style='width:100px !important;' />
		<input type="button" class="popup_send_email" value="&nbsp;SEND&nbsp;">
	</form>
</div>