<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="featured_image" data-formatter='featured_image' >Featured Image</th>
<th data-column-id="title" >Title</th>
<th data-column-id="terms" >Terms</th>
<th data-column-id="specials_actions" data-formatter="specials_actions" >Actions</th>