<a data-type="update" data-id='<%=id %>' class="pure-button button-secondary action-button button-small edit-icon" href="javascript:void(0);">EDIT/VIEW</a>
<a data-type="choose-winner" data-id='<%=id %>' class="pure-button button-secondary action-button button-small choose-winner" style='background:green;' href="javascript:void(0);">SET WINNER</a>
<a data-type="clone" data-id='<%=id %>' class="pure-button button-secondary action-button button-small second" href="javascript:void(0);">CLONE</a>
<a data-type="delete" data-id='<%=id %>' class="pure-button button-secondary action-button button-small delete-icon" href="javascript:void(0);">DELETE</a>
<br/><br/><hr/><br/>
<div style='width:90%; margin:auto;'>
	<h3 style='color:#f0ff2c; float:left;'>SWEEPSTAKE SUBMISSIONS</h3>
	<div class='sweepstakes-submissions' data-model="promotions"></div>
</div>