<tr data-id='<%=this.SystemVariable.id %>'>
<% for(var i in this.SystemVariable){
	if(['name', 'value'].indexOf(i) != -1){%>
		<td>
			<%=$.truncate(this.SystemVariable[i], 200) %>
		</td>
	<%}
}%>
</tr>