<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="sent_to" data-formatter='sent_to' >Sent To</th>
<th data-column-id="message">Message</th>
<th data-column-id="timestamp" >Timestamp</th>