<th data-column-id="id"  data-visible='false'  data-identifier="true" data-order="asc" data-type="numeric">ID</th>
<th data-column-id="featured_image" data-formatter='featured_image' >Featured Image</th>