<tr data-id='<%=this.Tip.id %>'>
<% for(var i in this.Tip){
	if(['featured_image'].indexOf(i) != -1){%>
		<td>
			<%if('featured_image' == i){%>	
				<%if(this.Tip.featured_image){%>
					<div style="background-image:url('<%=this.Tip.featured_image %>');" class="grid-thumbnail"  ></div>
				<%}%>
			<%}%>
		</td>
	<%}
}%>
</tr>