<tr data-id='<%=this.Trip.id %>'>
<% for(var i in this.Trip){
	if(['featured_image', 'name', 'terms'].indexOf(i) != -1){%>
		<td>
			<%if('featured_image' == i){%>	
				<%if(this.Trip.featured_image){%>
					<div style="background-image:url('<%=this.Trip.featured_image %>');" class="grid-thumbnail"  ></div>
				<%}%>
			<%}else{%>
				<%=this.Trip[i] %>
			<%}%>
		</td>
	<%}
}%>
</tr>